* {
    box-sizing: border-box;
}
body {
    background-color: rgba(161, 43, 43, 0.281);

}
#container {
    width: 90%;
    background-color: rgb(189, 241, 45);
    margin: 0 auto;
}
#logo-search {
    width: 100%;
    background-color: gray;
    border-bottom: solid black;
}
#search {
    float: left;
    padding: 2.2em;
}
#search input {
    padding: 0.4em;
}
h1 {
    float: left;
    padding-left: .7em;
    padding-top: .4em;
    font-family: 'Monoton', cursive;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#navigation {
    background-color: rgb(101, 131, 160);
    border-bottom: solid black;
}
#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
#navigation ul li {
    float: left;
    padding: 10px 20px;
    border-right: 1px solid rgb(56, 55, 55);  
}  
#navigation ul li:hover {
    background-color: rgb(253, 255, 238);
    cursor: pointer;
}
main {
    width: 100%;
    min-height: 450px;
}
main {
    background-color: white;
}
main > aside {
    float: left;
    width: 20%;
    background-color: rgb(57, 75, 114);
    padding: 20px;
}
main > section {
    background-color:  rgb(189, 241, 45);
    float: left; 
    width: 80%;
    padding: 20px;
    color: rgb(0, 0, 0);
}
aside select {
    width: 100%;
}
aside hr {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
footer {
    background-color: white;
    text-align: center;
}
footer p {
   padding: 10px;
   margin: 0;
}