* {
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
}
#container {
    width: 90%;
    background-color: rgb(189, 241, 45);
    margin: 0 auto;
}
#logo-search {
    width: 100%;
    background-color: gray;
}
#search {
    float: left;
    padding: 1em;
}
#search input {
    padding: 0.4em;
}
#navigation {
    background-color: rgb(101, 131, 160);
}
#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
#navigation ul li {
    float: left;
    padding: 10px 20px;
    border-right: 1px solid rgb(56, 55, 55);  
}  
#navigation ul li:hover {
    background-color: rgb(253, 255, 238);
    cursor: pointer;
}