* {
    box-sizing: border-box;
}
body {
    background-color: crimson;
}
#container {
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
}
#logo-search {
    width: 100%;
    background-color: gray;
}
#search {
    float: left;
    padding: 1em;
}
